<div class="container" *ngIf="orders.length!=0; else noorders">
  <div class="item-card" *ngFor="let item of orders">
    <div class="item-image">
      <img [src]="item.img" alt="Product Image">
    </div>
    <div class="item-details">
      <h1 class="cost">{{ item.price | currency :'INR' }}</h1>
      <h2>Quantity: {{ item.quantity }}</h2>

      <!-- Display Address -->
      <p class="description"><strong>Delivery Address:</strong> {{ item.address }}</p>

      <!-- Display Estimated Delivery -->
      <p class="description"><strong>Estimated Delivery:</strong> {{ item.estimatedDeliveryDays }} days</p>

      <!-- Display Tracking ID -->
      <p class="description"><strong>Tracking ID:</strong> {{ item.trackingId }}</p>

      <p class="description">Your order is on its way! We appreciate your patience. Thank you!</p>
      <button class="buy-button">Buy Again</button>
    </div>
  </div>
</div>

<ng-template #noorders>
<div class="no-item-message">
  <h2 class="text-center text-muted">Oops! No Orders</h2>
  <p class="text-center">Start ordering now!</p>
  <a routerLink="/cart" class="btn-go-cart">Go to Cart</a>
</div>
</ng-template>
