/* Global styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e0f7fa; /* Light cyan background */
  color: #333;
  margin: 0;
  padding: 0;
}

/* Container for login form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 15px;
  background-color: #272e2d;

}

.login-card {
  max-width: 450px;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border: 1px solid #e1e7f0; /* Light border */
}

/* Heading style */
.login-card h2 {
  text-align: center;
  color: #00796b; /* Greenish color */
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: bold;
}

/* Form-group styles */
.form-group {
  margin-bottom: 20px;
}

/* Input styles */
.form-control {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #d4d9e1; /* Soft gray border */
  box-sizing: border-box;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: #f5f8ff; /* Light background for inputs */
}

/* Focus and Error border color */
.form-control:focus {
  border-color: #00796b; /* Green focus border */
  outline: none;
  background-color: #ffffff; /* White background on focus */
}

/* Error state for input fields */
.form-control.ng-invalid.ng-touched {
  border-color: #ff4d4d; /* Red border for invalid input */
}

/* Error messages */
.text-danger {
  font-size: 12px;
  color: #ff4d4d; /* Red color for errors */
}

.error-msg {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

/* Login Button styles */
.btn-primary {
  background-color: #00796b; /* Teal color */
  color: #fff;
  border: none;
  padding: 14px 20px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  background-color: #023f35; /* Darker teal on hover */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

/* Switch link */
.text-center {
  text-align: center;
  margin-top: 20px;
}

.text-center a {
  color: #00796b; /* Greenish color for the link */
  text-decoration: none;
  font-weight: bold;
}

.text-center a:hover {
  text-decoration: underline;
  color: #004d40; /* Darker teal on hover */
}

.forgot-password-link {
  color: #2d8577;
  font-size: 0.9rem;
  text-decoration: none;
}

.forgot-password-link:hover {
  color: #053d34;
  text-decoration: underline;

}
