
<br>
<h1 class="text-center">Sport Products</h1><br>

<!-- First Container: Displaying the first 4 items -->
<div class="container1">
  <div class="card" style="width: 18rem;" *ngFor="let item of products; let i = index">
    <img src={{item.img}} class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">{{ item.name }}</h3>
      <h4 class="card-text">{{ item.price | currency :'INR' }}</h4>
        <button (click)="add(i)" class="btn btn-primary">
         {{item.cart_status}}
        </button>
 
      </div>
     
      
  </div>
</div>

