<ng-template #noitem>
  <!-- No Item Message -->
  <div class="no-item-message no-items" *ngIf="!orderPlaced">
    <h2>Oops! No item</h2>
    <p>Start ordering now!</p>
    <a routerLink="/cart">Go to Cart</a>
  </div>

  <!-- Order Placed Message -->
  <div *ngIf="orderPlaced" class="no-item-message success">
    <h2>Order Placed!</h2>
    <p>Your order has been successfully placed. Thank you for ordering with us!</p>
    <a routerLink="/cart">Order More</a>
  </div>
</ng-template>

  
  
  <div class="container d-flex justify-content-center align-items-center"  *ngIf="order_item; else noitem">
    <div class="card shadow-lg border-0" style="width: 18rem; border-radius: 15px;">
      <img [src]="order_item.img" class="card-img-top" alt="Product Image" style="object-fit: cover; height: 200px;">
      <div class="card-body text-center">
        <h5 class="card-title font-weight-bold">{{ order_item.name }}</h5>
  
        <!-- Quantity Input with Adjusted Size -->
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
          <input type="number" class="form-control"  name="count" [(ngModel)]="count" min=1>
        </div>
        
        <h6 class="text-muted">Delivery Fees: 100</h6>
        <h4 class="font-weight-bold text-primary">
          <span *ngIf="count == 1">{{ order_item.price + 100 }} </span>
          <span *ngIf="count != 1">{{ order_item.price * count + 100 }} </span>
        </h4>
        
        <button class="btn btn-primary mt-3 w-100" (click)="placeOrder()">Place Order</button>
      </div>
    </div>
  </div>
  