<br>
<h1 class="text-center">Sports</h1><br>

<!-- First Container: Displaying the first 4 items -->
<div class="container1">
  <div class="card" style="width: 18rem;" *ngFor="let item of sports; let i = index">
    <img src={{item.img}} class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">{{ item.name }}</h3>
      <a routerLink="/products">
        <button (click)="add(i)" class="btn btn-primary">
        Show Products
        </button>
      </a>
      </div>
     
      
  </div>
</div>
<router-outlet></router-outlet>
